@import "tailwindcss";

@theme {
  --color-poke-red: #ff0000;
  --color-poke-dark-red: #cc0000;
  --color-poke-blue: #3b4cca;
  --color-poke-yellow: #ffde00;
  --color-poke-gold: #b3a125;
}

body {
  background-color: #f3f4f6; 
}